*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
}

::selection {
  color: $white;
  background-color: $primary-500;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: normal;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

ol,
ul {
  list-style: none;
}
